body {
	padding: 30px;
}

div#content {
	margin: 0 auto;
}

div#content div.intro {
	width: 400px;
	margin: 0 auto;
	margin-top: 25px;
	line-height: 23px;
}

div.intro em {
	font-weight: bold;
}

form {
	margin: 25px 0 65px 0;
}

form label {
	text-shadow: rgba(255, 255, 255, 0.896875) 0px 1px 0px;
}

form .fieldWrapper {
	width: 400px;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	font-weight: bolder;
	font-size: 19px;
}

form div.fieldWrapper input {
	border: none;
	border-bottom: solid 1px #000;
	background-color: #e1e1e1;
	height: 25px;
	width: 390px;
	font-size: 18px;
	padding: 7px;
}

form div.fieldWrapper input:hover {
	background-color: #EEEEEE;
	border-bottom: dashed 1px #000;
}

input[type=file] {
	width: 200px;
}

input[name=difficulty] {
	display: none;
}

button[type=submit] {
	margin: 0 auto;
	width: 250px;
	color: #28A70A;
	font-size: 30px;
}
