html { background-color: #e1e1e1; }
body{
	margin: 0;
	padding: 0;
	text-align:center;
	background-color: #e1e1e1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C8C8C8', endColorstr='#e1e1e1');
	background: -webkit-gradient(linear, left top, left bottom, from(#C8C8C8), to(#e1e1e1));
	background: -moz-linear-gradient(top,  #C8C8C8,  #e1e1e1);
	background-repeat: no-repeat;
}

h1 {
	font-size: 37px;
	color: #FFFFFB;
	margin: 0;
	line-height: 65px;
	text-shadow: rgba(3, 3, 3, 0.796875) 0px 1px 0px;
}

h2 {
	font-size: 33px;
	color: #40A728;
	margin: 0;
	line-height: 65px;
	text-shadow: rgba(3, 3, 3, 0.796875) 0px 1px 0px;
}

.tip {
	font-size: 14px;
	background-color: #eee;
	padding: 6px;
}

.fine-print {
	font-size: 12px;
	font-weight: normal;
	color: #854124;
}

div#floaty-tab{
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	text-indent: 9px;
	line-height: 27px;
	background-color: #829FC7;
	text-shadow: rgba(0, 0, 0, 0.696875) 0px 1px 0px;
}

div#floaty-tab a { color: #ABD8FF; text-decoration: none; }
div#floaty-tab a:hover { color: #fff; }
div#floaty-tab a:active { color: #A0FF30; }

div#footer{ margin: 60px 0 22px 22px; color:#BCBFD0; }
