canvas { margin: 10px; outline: solid 1px #666; }
canvas:hover { cursor:pointer; }

div#create-tab{
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	text-indent: 9px;
	line-height: 27px;
	background-color: #829FC7;
	text-shadow: rgba(0, 0, 0, 0.696875) 0px 1px 0px;
}

div#create-tab a { color: #ABD8FF; text-decoration: none; }
div#create-tab a:hover { color: #fff; }
div#create-tab a:active { color: #A0FF30; }

div.puzzle-meta {
	margin: auto 0;
	margin-bottom: 32px;
	color: #5B6662;
}

div.puzzle-meta span em { color: #000; }

div.puzzle-meta span.difficulty {
	background-color: #D9DEEF;
	padding: 9px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

div#game {
	margin: 0px auto;
}

div.instructions {
	line-height: 23px;
	margin-top: 25px;	
}
div.instructions p {
	margin: 0px auto;
	width: 400px;
}
div.instructions em {
	margin: 0 5px 0 5px;
	font-weight: bolder;
	font-style: normal;
	color: #107911;
}
div.instructions strong {
	color: #391E79;	
}
span.legend-empty-space { 
	border-right: solid 25px #fff;
	color: transparent;
}
