{% extends "base.html" %}

{% block head_include %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">
{% endblock head_include %}

{% block title %}Let's Make a Puzzle To Share!{% endblock title %}

{% block content %}
	<h1>Let's make a Puzzzzle!</h1>
	<div class="intro">
		<em>Why a puzzle?</em> Simple! We humans like being <em>intrigued</em>, we enjoy the <em>satisfaction</em> of solving 
		problems, we like to <em>play</em> and <em>interact</em> with others&hellip; 
		With this app, you can do all of that! You can create and play a puzzle using whatever image you'd like,
		and then you can send your friends a link to your custom puzzle so they can play too!
	</div>
	<h2>Get Started&hellip;</h2>
	<form enctype="multipart/form-data" method="post" action=".">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
			{{ form.file.errors }}
			<label for="id_file">Choose your puzzle's image:</label><br>
			<span class="fine-print">&lowast; Use an image that is exactly 400x300 pixels, or (4:3) for optimal results</span>
			{{ form.file }}
		</div>
		<div class="fieldWrapper">
			{{ form.name.errors }}
			<label for="id_name">Give it a fun name:</label>
			{{ form.name }}
		</div>
		<div class="fieldWrapper">
			{{ form.difficulty.errors }}
			<label for="id_difficulty">Set how difficult it should be:</label>
			{{ form.difficulty }}
		</div>
		<button type="submit" value="">Make It!</button>
	</form>
	<p class="fine-print">&lowast; This site is best experienced in modern Web Browsers, preferrably Google Chrome or Safari. If your browser isn't up-to-date, chances are things wont work properly. &lowast;</p>
{% endblock content %}