{% extends "base.html" %}

{% block head_include %}
	<script src="{{ STATIC_URL }}js/Puzzle.js" type="text/javascript"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/puzzle.css">
{% endblock head_include %}

{% block title %}Your Puzzle Game!{% endblock title %}

{% block content %}
        <h1>Your Puzzle Game!</h1>
		
		<canvas id="buffer-canvas" width="400" height="400"></canvas>
		<canvas id="game-canvas" width="400" height="400"></canvas>	
		
		<script type="text/javascript">
		
			(function(){
				var game_fps = 30;
				var osb_canvas = document.getElementById('buffer-canvas');
				var game_canvas = document.getElementById('game-canvas');
				var osb_ctx = osb_canvas.getContext('2d');
				var game_ctx = game_canvas.getContext('2d');
				var game_w = game_canvas.width;
				var game_h = game_canvas.height;
				
				//	game parameters
				var row_count = 3;
				var col_count = 3;
				var pieces = [];
				var cells = [];
				var piece_count = row_count * col_count;
				var row_offset = 0;
				var row_index = 0;
				var col_index = 0;
				var random_empty_index = Math.floor(Math.random() * ((row_count * col_count - 1) - 0 + 1)) + 0;

				//	listen for clicks on the game canvas
				game_canvas.addEventListener('mousedown', handle_cell_click, false);
	
				//	create mapped puzzle cell and piece definitions
				for (var n=0; n<piece_count; n++){
					var w = game_w / col_count;
					var h = game_h / row_count;
					var isFirstPieceInRow = !!(n % col_count == 0);
					
					if (isFirstPieceInRow){
						row_offset = row_index * h;
						col_index = 0;
						row_index++;
					} else {
						col_index++;
					}
					
					cells.push({
						x: col_index * w,
						y: row_offset,
						width: w,
						height: h,
						pos: n
					});
					
					pieces.push({
						x: col_index * w,
						y: row_offset,
						width: w,
						height: h,
						pos: n
					});
				}
				
				//	randomly shuffle the puzzle piece list
				shuffle(pieces);
				
				//	load the source image 
				var source_image = new Image();
				source_image.width = game_w;
				source_image.height = game_h;
				source_image.onload = function() {

					osb_ctx.save();
					game_ctx.save();
					
					osb_ctx.drawImage(this, 0, 0);
					
					//	place all the piece definition's images into the cells
					position_pieces_in_cells(pieces);
					
					//	create and draw the empty slot overtop the pieces
					var empty_cell = cells[random_empty_index];
					draw_empty_cell(empty_cell);
				};
				
				function position_pieces_in_cells(pieces){
					for (var n=0, count=pieces.length; n<count; n++){
						var cell = cells[n];
						var piece = pieces[n];
						
						var piece_rect = {
							x: piece.x,
							y: piece.y,
							w: piece.width,
							h: piece.height
						};
						
						var cell_rect = {
							x: cell.x,
							y: cell.y,
							w: cell.width,
							h: cell.height
						};
						
						clone_image_rect(source_image, piece_rect, cell_rect, game_ctx);
					}
				};
				
				function clone_image_rect(image, source_rect, dest_rect, dest_ctx){
					var sx = source_rect.x;
					var sy = source_rect.y;
					var sw = source_rect.w;
					var sh = source_rect.h;
					
					var dx = dest_rect.x;
					var dy = dest_rect.y;
					var dw = dest_rect.w;
					var dh = dest_rect.h;

					dest_ctx.drawImage(image, sx, sy, sw, sh, dx, dy, dw, dh);
				};

				function draw_empty_cell(cell){
					game_ctx.save();
					game_ctx.fillStyle = 'white';
					game_ctx.fillRect(cell.x, cell.y, cell.width, cell.height);
				};
				
				function handle_cell_click(event){
					console.log(get_event_coords(event, game_canvas));
				}
				
				// shuffle a list in-place
				function shuffle(list) {
					var i, j, t;
					for (i = 1; i < list.length; i++) {
						j = Math.floor(Math.random()*(1+i));
						if (j != i) {
						  t = list[i];
						  list[i] = list[j];
						  list[j] = t;
						}
					}
				};
				
				//	gets the relative mouse coordinates of the event
				function get_event_coords(event, canvas){
					var x = new Number();
					var y = new Number();
					
					if (event.x != undefined && event.y != undefined){
					  x = event.x;
					  y = event.y;
					} else {
					  x = event.clientX + document.body.scrollLeft +
					      document.documentElement.scrollLeft;
					  y = event.clientY + document.body.scrollTop +
					      document.documentElement.scrollTop;
					}
					
					x -= canvas.offsetLeft;
					y -= canvas.offsetTop;
					return [x,y];
				};
				
				// Last, load the puzzle image
				source_image.src = '{{ STATIC_URL }}images/demos/matthew.jpg';
			})()
			
		</script>
		
{% endblock content %}