{% extends "base.html" %}

{% block head_include %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/puzzle.css">
{% endblock head_include %}

{% block title %}Playing Puzzle: {{puzzle.name}}{% endblock title %}

{% block content %}
		<div id="create-tab"><a href="{% url create_puzzle %}">&lsaquo; create&nbsp;&nbsp;</a></div>
        <div class="puzzle-meta">
        	<h1>You're Playing: {{puzzle.name}}</h1>
			<span class="difficulty">Difficulty Level: <em>{{puzzle.difficulty_name}}</em></span>
		</div>
		<div id="game">
			<canvas id="buffer-canvas" width="{{puzzle.width}}" height="{{puzzle.height}}"></canvas>
			<canvas id="game-canvas" width="{{puzzle.width}}" height="{{puzzle.height}}"></canvas>	
		</div>
		<div class="instructions">
			<strong>How to play:</strong>
			<p>
				The <em>empty space</em> is indicated in the bottom-right corner, it looks like
				<span class="legend-empty-space">&nbsp;</span>&nbsp; and it's where you can move pieces to.
				<em>Clicking</em> on a piece that is directly next to the empty space is the only way to move 
				a piece. 
				When you get all the pieces arranged properly, <strong>the mystery image will be revealed!</strong>
			</p>
			<br>
			<p class="tip"><em>Tip:</em> Re-load the page to shuffle the pieces!</p>
		</div>
		<script type="text/javascript">
		
			(function(){
				var osb_canvas = document.getElementById('buffer-canvas');
				var game_canvas = document.getElementById('game-canvas');
				var osb_ctx = osb_canvas.getContext('2d');
				var game_ctx = game_canvas.getContext('2d');
				var game_w = game_canvas.width;
				var game_h = game_canvas.height;
				
				//	game parameters
				var row_count = {{puzzle.max_rows}};
				var col_count = {{puzzle.max_cols}};
				var pieces = [];
				var shuffled_pieces = [];
				var moveable_pieces = [];
				var cells = [];
				var piece_count = row_count * col_count;
				var row_offset = 0;
				var row_index = 0;
				var col_index = 0;
				var empty_cell;
				//var random_empty_index = Math.floor(Math.random() * ((row_count * col_count - 1) - 0 + 1)) + 0;

				//	listen for clicks on the game canvas
				game_canvas.addEventListener('mousedown', handle_cell_click, false);
	
				//	store all the pieces initially
				//	keep track of thier original positional indexes 
				for (var n=0; n < piece_count; n++){
					var w = game_w / col_count;
					var h = game_h / row_count;
					var isFirstPieceInRow = !!(n % col_count == 0);
					
					if (isFirstPieceInRow){
						row_offset = row_index * h;
						col_index = 0;
						row_index++;
					} else {
						col_index++;
					}
				
					pieces.push({
						x: col_index * w,
						y: row_offset,
						w: w,
						h: h
					});
				}
				
				//	shuffle all the pieces
				shuffle(pieces);

				//	create entire cell data structure
				//	and create entire piece data structure 
				for (var n=0, accum=0; n < row_count; n++){
					var w = game_w / col_count;
					var h = game_h / row_count;
					var p_row = [];
					var c_row = [];
					
					shuffled_pieces.push(p_row);
					cells.push(c_row);
					
					for (var i=0; i < col_count; i++ ){
						var piece = pieces[accum];
						
						p_row.push(piece);
						
						c_row.push({
							x: i * w,
							y: n * h,
							w: w,
							h: h,
							piece: piece
						});
						
						accum++;
					}
				}
				
				//	load the source image 
				var source_image = new Image();
				source_image.width = game_w;
				source_image.height = game_h;
				source_image.onload = function() {

					osb_ctx.save();
					game_ctx.save();
					
					osb_ctx.drawImage(this, 0, 0);
					
					//	place all the piece definition's images into the cells
					position_pieces_in_cells(shuffled_pieces);
					
					//	create and draw the empty slot overtop the pieces
					draw_empty_cell(cells[row_count-1][col_count-1]);
					
					//	find candidate pieces that surround the empty cell
					update_possible_moves(empty_cell); 
				};
				
				function position_pieces_in_cells(pieces){
					for (var i=0, count=pieces.length; i<count; i++){
						for (var n=0; n<col_count; n++){
							var cell = cells[i][n];
							var piece = shuffled_pieces[i][n];
							
							var piece_rect = {
								x: piece.x,
								y: piece.y,
								w: piece.w,
								h: piece.h
							};
							
							var cell_rect = {
								x: cell.x,
								y: cell.y,
								w: cell.w,
								h: cell.h
							};
	
							clone_image_rect(source_image, piece_rect, cell_rect, game_ctx);
						}
					}
				};
				
				function clone_image_rect(image, source_rect, dest_rect, dest_ctx){
					var sx = source_rect.x;
					var sy = source_rect.y;
					var sw = source_rect.w;
					var sh = source_rect.h;
					
					var dx = dest_rect.x;
					var dy = dest_rect.y;
					var dw = dest_rect.w;
					var dh = dest_rect.h;

					dest_ctx.drawImage(image, sx, sy, sw, sh, dx, dy, dw, dh);
				};

				function draw_empty_cell(cell){
					empty_cell = cell;
					game_ctx.save();
					game_ctx.fillStyle = 'white';
					game_ctx.fillRect(cell.x, cell.y, cell.w, cell.h);
				};
				
				function update_possible_moves(empty_cell){
					moveable_pieces = [];
					
					var col_index = get_col_index(empty_cell.x);
					var row_index = get_row_index(empty_cell.y);
					
					//	possible column moves (U/D)
					if (row_index > 0){
						var row = row_index - 1;
						var col = col_index;
						var piece = shuffled_pieces[row][col];
						var cell = cells[row][col];
						moveable_pieces.push(cell.piece);
					}
					if (row_index < row_count-1){
						var row = row_index + 1;
						var col = col_index;
						var piece = shuffled_pieces[row][col];
						var cell = cells[row][col];
						moveable_pieces.push(cell.piece);					
					}
					
					//	possible row moves (L/R)
					if (col_index > 0){
						var row = row_index;
						var col = col_index - 1;
						var piece = shuffled_pieces[row][col];
						var cell = cells[row][col];
						moveable_pieces.push(cell.piece);
					}
					if (col_index < col_count-1){
						var row = row_index;
						var col = col_index + 1;
						var piece = shuffled_pieces[row][col];
						var cell = cells[row][col];
						moveable_pieces.push(cell.piece);
					}
				};
				
				//	fires when a cell is clicked
				function handle_cell_click(event){
					var click_coords = get_event_coords(event, game_canvas);
					var cell_index = get_cell_index(click_coords);
					var cell = get_cell_by_index(cells, cell_index);
					//var piece = get_cell_by_index(shuffled_pieces, cell_index);
					move_piece(cell.piece, cell);
				};
				
				function move_piece(piece, clicked_cell){
					var is_moveable = is_moveable_piece(piece);
					if (is_moveable){
						clone_image_rect(source_image, piece, empty_cell, game_ctx);
						empty_cell.piece = clicked_cell.piece;
						draw_empty_cell(clicked_cell);
						update_possible_moves(clicked_cell);
					}
				};
				
				//	check if the piece is considered a moveable piece
				function is_moveable_piece(piece){
					for (var i=0, count=moveable_pieces.length; i<count; i++){
						if (piece === moveable_pieces[i]){
							return true;
						}
					}
					return false;
				};
				
				//	return the column index given the game coordinates
				function get_col_index(x){
					var col_width = shuffled_pieces[0][0].w;
					var col_index = Math.floor(x / col_width);
					return col_index;
				};
				
				//	return the row index given the game coordinates
				function get_row_index(y){
					var row_height = shuffled_pieces[0][0].h;
					var row_index = Math.floor(y / row_height);
					return row_index;
				};
				
				//	returns an item out of a 2D list by its index
				function get_cell_by_index(two_d_list, index){
					for (var i=0, accum=0; i<row_count; i++){
						for (var n=0; n<col_count; n++){
							if (accum == index){
								var item = two_d_list[i][n];
								return item;
							} 
							accum++;
						}
					}
				};
				
				//	return the cell index that contains the given coordinates in the game space
				function get_cell_index(coords){
					var col_index = get_col_index(coords[0]);
					var row_index = get_row_index(coords[1]);
					return (row_index*col_count) + (col_index*1);
				};
				
				// shuffle a list in-place
				function shuffle(list) {
					var i, j, t;
					for (i = 1; i < list.length; i++) {
						j = Math.floor(Math.random()*(1+i));
						if (j != i) {
						  t = list[i];
						  list[i] = list[j];
						  list[j] = t;
						}
					}
				};
				
				//	gets the relative mouse coordinates of the event
				function get_event_coords(event, canvas){
					var x, y;
					
					if (event.x != undefined && event.y != undefined){
					  x = event.x;
					  y = event.y;
					} else {
					  x = event.clientX + document.body.scrollLeft +
					      document.documentElement.scrollLeft;
					  y = event.clientY + document.body.scrollTop +
					      document.documentElement.scrollTop;
					}
					
					x -= canvas.offsetLeft;
					y -= canvas.offsetTop;
					return [x,y];
				};
				
				source_image.src = '{{puzzle.processed_url}}';
			})()
			
		</script>
		
{% endblock content %}